.container{
    width:auto;
    text-align: center;
}
.left{
    background-color: rgb(2, 45, 56); 
}
.right{
    background-color: rgb(255, 255, 255); 
    text-align: left;
    margin-top: 4rem ;
}
img{
    height: 20rem;
    width: 20rem;
    margin-top: 6rem;
}
.contact{
    text-align: left;
}
h3{
    color:rgb(21, 101, 121) ;
    margin-bottom: 0px;
}
h5{
    color: white;
}
hr{
    margin: 0px;
}
.right-hr{
    border: 0.5px solid ;
    background-color: rgb(2, 45, 56);
    margin-top: 0px;
}